---
import DefaultLayout from '@layouts/DefaultLayout.astro'
import PageHeader from '@components/PageHeader.astro'
import { Tabs, TabsList, TabsTab, TabsPanel, Badge } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import ContentMedia from '@components/ContentMedia.astro'
---

<DefaultLayout title="Learning Hub">
  <PageHeader
      title="Learning Hub"
      subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      bgType="bordered"
  />

<section class="my-12">
    <div class="container">

<span class="mb-6" style="display: flex; align-items: center;">
        <Badge style="color: #FFF; background-color: #2563EB; border-color: #2563EB; font-size: 2.5em; font-weight: bold;" class="mb-5 mr-5"><Icon class="m-3" name="lucide:graduation-cap" /></Badge>
        <h1 class="font-bold mb-8" style="font-weight: 900; text-decoration: underline; text-decoration-color: #2563EB;">
  Learning Modules</h1></span>
      
<Tabs>
  <TabsList>
    <TabsTab id="tab1" controls="panel1" onmouseover="this.style.background='#22C55E';" onmouseout="this.style.background='';">Digital <br/>Citizenship</TabsTab>
    <TabsTab id="tab2" controls="panel2" onmouseover="this.style.background='#6D28D9';" onmouseout="this.style.background='';">Attacker <br/>Perspective</TabsTab>
    <TabsTab id="tab3" controls="panel3" onmouseover="this.style.background='#F59E0B';" onmouseout="this.style.background='';">Authentication</TabsTab>
    <TabsTab id="tab4" controls="panel4" onmouseover="this.style.background='#14B8A6';" onmouseout="this.style.background='';">Data <br/>Privacy</TabsTab>
    <TabsTab id="tab5" controls="panel5" onmouseover="this.style.background='#D946EF';" onmouseout="this.style.background='';">Social <br/>Engineering</TabsTab>
    <TabsTab id="tab6" controls="panel6" onmouseover="this.style.background='#84CC16';" onmouseout="this.style.background='';">Malware</TabsTab>
    <TabsTab id="tab7" controls="panel7" onmouseover="this.style.background='#EF4444';" onmouseout="this.style.background='';">Digital <br/>Abuse</TabsTab>
  </TabsList>

  <TabsPanel id="panel1" labelledby="tab1" selected>
    <ContentMedia imgSrc="/images/1754638591.png" reverseImg={true}>
    <h1>Digital Citizenship</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
      <a class="button has-icon" href="/learning-hub/digital-citizenship/introduction/">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>
  
  <TabsPanel id="panel2" labelledby="tab2">
    <ContentMedia imgSrc="/images/1754638755.png" reverseImg={true}>
    <h1>Attacker Perspective</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
      <a class="button has-icon" href="/learning-hub/attacker-perspective/introduction/">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel3" labelledby="tab3">
    <ContentMedia imgSrc="/images/1754638882.png" reverseImg={true}>
    <h1>Authentication</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/authentication/introduction/">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel4" labelledby="tab4">
    <ContentMedia imgSrc="/images/1754638808.png" reverseImg={true}>
    <h1>Data Privacy</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/data-privacy/introduction/">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel5" labelledby="tab5">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Social Engineering</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/social-engineering/introduction/">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel6" labelledby="tab6">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Malware</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/malware/introduction/">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel7" labelledby="tab7">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Digital Abuse</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/digital-abuse/introduction/">
    <Icon name="lucide:book-marked" />
    Start Learning
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>
</Tabs>


<span class="mt-24 mb-6" style="display: flex; align-items: center;">
        <Badge style="color: #FFF; background-color: #2563EB; border-color: #2563EB; font-size: 2.5em; font-weight: bold;" class="mb-5 mr-5"><Icon class="m-3" name="lucide:land-plot" /></Badge>
        <h1 class="font-bold mb-8" style="font-weight: 900; text-decoration: underline; text-decoration-color: #2563EB;">
  Interactive Challenges</h1></span>

<Tabs>
  <TabsList>
    <TabsTab id="tab1" controls="panel1" onmouseover="this.style.background='#22C55E';" onmouseout="this.style.background='';">Challenge #1</TabsTab>
    <TabsTab id="tab2" controls="panel2" onmouseover="this.style.background='#6D28D9';" onmouseout="this.style.background='';">Challenge #2</TabsTab>
    <TabsTab id="tab3" controls="panel3" onmouseover="this.style.background='#F59E0B';" onmouseout="this.style.background='';">Challenge #3</TabsTab>
    <TabsTab id="tab4" controls="panel4" onmouseover="this.style.background='#14B8A6';" onmouseout="this.style.background='';">Challenge #4</TabsTab>
    <TabsTab id="tab5" controls="panel5" onmouseover="this.style.background='#D946EF';" onmouseout="this.style.background='';">Challenge #5</TabsTab>
    <TabsTab id="tab6" controls="panel6" onmouseover="this.style.background='#84CC16';" onmouseout="this.style.background='';">Challenge #6</TabsTab>
    <TabsTab id="tab7" controls="panel7" onmouseover="this.style.background='#EF4444';" onmouseout="this.style.background='';">Challenge #7</TabsTab>
  </TabsList>

  <TabsPanel id="panel1" labelledby="tab1" selected>
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Challenge #1</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
      <a class="button has-icon" href="/learning-hub/digital-citizenship/challenge/">
    <Icon name="lucide:biceps-flexed" />
    Take the Challenge
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>
  
  <TabsPanel id="panel2" labelledby="tab2">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Challenge #2</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
      <a class="button has-icon" href="/learning-hub/attacker-perspective/challenge/">
    <Icon name="lucide:biceps-flexed" />
    Take the Challenge
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel3" labelledby="tab3">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Challenge #3</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/authentication/challenge/">
    <Icon name="lucide:biceps-flexed" />
    Take the Challenge
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel4" labelledby="tab4">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Challenge #4</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/data-privacy/challenge/">
    <Icon name="lucide:biceps-flexed" />
    Take the Challenge
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel5" labelledby="tab5">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Challenge #5</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/social-engineering/challenge/">
    <Icon name="lucide:biceps-flexed" />
    Take the Challenge
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel6" labelledby="tab6">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Challenge #6</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/malware/challenge/">
    <Icon name="lucide:biceps-flexed" />
    Take the Challenge
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel7" labelledby="tab7">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Challenge #7</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/digital-abuse/challenge/">
    <Icon name="lucide:biceps-flexed" />
    Take the Challenge
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>
</Tabs>


<span class="mt-24 mb-6" style="display: flex; align-items: center;">
        <Badge style="color: #FFF; background-color: #2563EB; border-color: #2563EB; font-size: 2.5em; font-weight: bold;" class="mb-5 mr-5"><Icon class="m-3" name="lucide:gamepad-2" /></Badge>
        <h1 class="font-bold mb-8" style="font-weight: 900; text-decoration: underline; text-decoration-color: #2563EB;">
  Cybersecurity Games</h1></span>

<Tabs>
  <TabsList>
    <TabsTab id="tab1" controls="panel1" onmouseover="this.style.background='#22C55E';" onmouseout="this.style.background='';">Game #1</TabsTab>
    <TabsTab id="tab2" controls="panel2" onmouseover="this.style.background='#6D28D9';" onmouseout="this.style.background='';">Game #2</TabsTab>
    <TabsTab id="tab3" controls="panel3" onmouseover="this.style.background='#F59E0B';" onmouseout="this.style.background='';">Game #3</TabsTab>
    <TabsTab id="tab4" controls="panel4" onmouseover="this.style.background='#14B8A6';" onmouseout="this.style.background='';">Game #4</TabsTab>
    <TabsTab id="tab5" controls="panel5" onmouseover="this.style.background='#D946EF';" onmouseout="this.style.background='';">Game #5</TabsTab>
    <TabsTab id="tab6" controls="panel6" onmouseover="this.style.background='#84CC16';" onmouseout="this.style.background='';">Game #6</TabsTab>
    <TabsTab id="tab7" controls="panel7" onmouseover="this.style.background='#EF4444';" onmouseout="this.style.background='';">Game #7</TabsTab>
  </TabsList>

  <TabsPanel id="panel1" labelledby="tab1" selected>
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Game #1</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
      <a class="button has-icon" href="/learning-hub/digital-citizenship/game/">
    <Icon name="lucide:joystick" />
    Play the Game
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>
  
  <TabsPanel id="panel2" labelledby="tab2">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Game #2</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
      <a class="button has-icon" href="/learning-hub/attacker-perspective/game/">
    <Icon name="lucide:joystick" />
    Play the Game
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel3" labelledby="tab3">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Game #3</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/authentication/game/">
    <Icon name="lucide:joystick" />
    Play the Game
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel4" labelledby="tab4">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Game #4</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/data-privacy/game/">
    <Icon name="lucide:joystick" />
    Play the Game
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel5" labelledby="tab5">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Game #5</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/social-engineering/game/">
    <Icon name="lucide:joystick" />
    Play the Game
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel6" labelledby="tab6">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Game #6</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/malware/game/">
    <Icon name="lucide:joystick" />
    Play the Game
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>

  <TabsPanel id="panel7" labelledby="tab7">
    <ContentMedia imgSrc="/images/20945658.jpg" reverseImg={true}>
    <h1>Game #7</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 gap-6" >
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec bibendum diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris condimentum sodales nisi vel interdum. Suspendisse quis euismod mi. Donec mattis et felis vitae cursus. Donec metus neque, ultrices sit amet justo vitae, convallis convallis nisi. Proin sit amet mauris ante. Praesent bibendum in leo id sagittis. Nunc at urna et enim malesuada consectetur at id risus. In porta aliquet sagittis. Sed vel nibh auctor quam porta molestie. Morbi eu magna non felis pharetra pharetra. Mauris interdum mattis nulla.</p>
    <a class="button has-icon" href="/learning-hub/digital-abuse/game/">
    <Icon name="lucide:joystick" />
    Play the Game
    </a>
    </div>
    </ContentMedia>
  </TabsPanel>
</Tabs>

</div>
</DefaultLayout>